@charset "UTF-8";
/* css document */
body,ol,ul,li,p,h1,h2,h3,h4,h5,h6,form,filedset,table,td,img,div,dt,dd,input{margin:0;padding:0;}

body{
	background:white;
	padding-top:70px;
	font:15px;
	color:white;
}

a{
	text-decoration:none;
	color:#666666;
}
a :hover{
	
}
li{
	list-style:none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.nav :hover .dropdown-menu {
	display: block;
}

